<!doctype "HTML Frameset DTD">
<html lang="en">
    <head>
        <title>Timestamp microservice</title>
      <style>
        iframe{
          height:50%;
          width:100%;
        }
      </style>
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                CLClark implementation: Timestamp microservice
            </h1>           
            <h3><a href="https://www.npmjs.com/package/chrono-node">Using 'chrono-node' npm package:</a></h3>
            <h3>Example: "https://timestamp-ms.herokuapp.com"</h3>
            <iframe src="https://timestamp-ms.herokuapp.com">
            </iframe>
        </div>
    </body>
</html>